body {
	width: 100%;
	padding: 0;
	margin: 0;
}
.center {
	text-align: center;
}
.locenter {
	text-align: center;
	display: grid;
	align-items: center;
	height: 100vh;
	transform: translate(0, -80px);
}
